@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
table {
    border-collapse: collapse;
    width: 80%;
}

th, td {
    text-align: left;
    padding: 3px;
}
.btnClass{
  margin-top:10px;
  padding-top: 20px;
  position: relative;
  padding-left:190px;

}

tr:nth-child(even) {
    background-color: #c6dce4
}

th {
    background-color: #4cacbc;
    color: white;
}
body{
  background-image: linear-gradient(to bottom right ,#43cea2,#185a9d);
  background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
}
.rootClass{
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  top:30px;
font-family: 'Roboto', sans-serif;
  height: 700px;
  border-radius: 20px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rootClass h2{
  padding:10px;
  font-family: 'Trirong', serif;
  font-weight: 700;
  font-size:36px;
}
.btn{
  background-color:#136edf;
}
#name,#city,#rating{
  border-radius:10px;
  border:1px solid #bbb;
    font-family: 'Trirong', serif;

}
.img-responsive{
  padding-top:10px;
  width:30%;
  height:80px;
}
.title{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
.operations{
    
}
